
@{
    ViewBag.Title = "CreditTask";
}

<h2>Credit Task</h2>
<div>
    <div>@Html.ActionLink("Item List", "Index", "Items")</div>
    <div>@Html.ActionLink("Agent List", "Index", "Agents")</div>
    <div>@Html.ActionLink("Order List", "Index", "Orders")</div>
    <div>@Html.ActionLink("OrderDetails List", "Index", "OrderDetails")</div>
</div>

