@page
@model CreditTaskCore.Pages.CreditModel
@{
}

<h2>Credit Task</h2>
<ul>
                        <li>
                            <a  asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a  asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li>
                            <a  asp-area="" asp-page="/Credit">Credit Task</a>
                        </li>
</ul>