@page
@model Lab8.Pages.CreditModel
@{
}

<ul >
    <li >
        <a asp-area="" asp-page="/Model/Agents">Agents List</a>
    </li>
    <li >
        <a asp-area="" asp-page="/Model/Item">Items List</a>
    </li>
    <li >
        <a asp-area="" asp-page="/Model/Order">Order List</a>
    </li>
    <li>
        <a asp-area="" asp-page="/Model/OrderDetail">Order Detail</a>
    </li>
</ul>
