@page
@model Lab8.Pages.Model.OrderModel
@{
}

<table class="table">
	<thread>
		<tr>
			<th>Order ID</th>
			<th>Order Date</th>
			<th>Agent ID</th>
		</tr>
	</thread>
	<tbody>
		@foreach (var order in Model.listOrder)
		{
				<tr>
					<td>@order.OrderID</td>
					<td>@order.OrderDate</td>
					<td>@order.AgentID</td>
				</tr>
		}
	</tbody>
</table>
<button id="print-button" class="btn"><i class="fas fa-print"></i>Print Page</button>
<script>
    const printButton = document.getElementById('print-button');
    const printPage = () => {
        const printFrame = document.createElement('iframe');
        printFrame.style.display = 'none';
        printFrame.src = 'Orders';
        document.body.appendChild(printFrame);
        printFrame.contentWindow.focus();
        printFrame.contentWindow.print();
    };
    printButton.addEventListener('click', () => {
        printPage();
    });
</script>
<style>
    @@media print {
        #print-button {
            display: none;
        }

        .create {
            display: none;
        }

        .edit {
            display: none;
        }

        .h2 {
            text-align: center;
        }
    }
</style>
